doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    //- script(src='/socket.io/socket.io.js')        
    script(src='http://han.dev.daum.net:3001/socket.io/socket.io.js')        
    script(src='/javascripts/test.js')
  body
    div
        ul#cmd 
            li test
    div
        h1 test
        a#btn 버튼